# Нажмите кнопку run, чтобы запустить тесты.
# 
# Файлы с исходным кодом можно посмотреть на вкладке "Files":
# src/StringUtils.php       - тестируемая функция
# tests/StringUtilsTest.php - тесты функции
#
# Попробуйте изменять код функции / тестов, запуская проверки заново.

run="php tests/StringUtilsTest.php"